<section class="section background">
    <div class="section__title">Background</div>
    <div class="section__content">
        <p>
            Sou técnico em Desenvolvimento de Sistemas, atualmentemente trabalhando no <a href="http://www.senaicimatec.com.br/">Senai Cimatec</a> como Bolsista no projeto de pesquisa VIALAB, com foco inteligência artificial e visão computacional.
        </p>

        <p>
            Além do trabalho, estou cursando Licenciatura em Computação na <a href="https://www.ufba.br/">UFBA</a> e sigo com diversos projetos pessoais em andamento.
        </p>
        <!-- {% include employment-status.html %} -->
    </div>
</section>