<footer class="footer">
  <div class="footer__copyright">
    <div class="top"> 
      <span>Template created by</span>
    </div>
    <div class="bottom">
      <a href="https://github.com/bchiang7"><span>Brittany Chiang</span></a>
      <img class="emoji" src="{{site.baseurl}}/img/emojis/rockon.png" alt="emoji">
    </div>
  </div>
  <div class="footer__links">
    {% for link in site.social %}
    <a href="{{link.url}}" target="_blank" title="{{link.title}}">
      <span class="text">{{link.title}}</span>
      <img src="{{site.baseurl}}/img/social/{{link.title}}.svg" alt="{{link.title}}">
    </a>
    {% endfor %}
  </div>
</footer>
